{% extends "base.html" %} {% block title %}Registro{% endblock %}

{% block content %}

<h1>Registrarse</h1>
<form method="POST">
    <br>
    <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electronico">
    </div>
    <div class="form-group">
        <label for="password">Nombre</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Nombre Completo">

    </div>
    <div class="form-group">
        <label for="password">Edad</label>
        <input type="number" class="form-control" id="password" name="password" placeholder="Edad">

    </div>
    <div class="form-group">
        <label for="password">Ubicacion</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Ubicacion Actual">
    </div>
    <div class="form-group">
        <label for="password">Telefono</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="Telefono">
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña">
    </div>
    <div class="form-group">
        <label for="password">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Confirmar tu contraseña">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
{% endblock %}